*{
    box-sizing: border-box;

  }
  .clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
body {
    font-family: roboto,sans-serif,helvetica;
    margin:100px;
    padding: 20px 10px;
}
  header,
  footer {
    height: 100px;
    width:100%;
    clear: both;
    float: left;
background: rgb(238, 237, 237);
}

header{height: 55px;}
footer {height: 300px;}
    
section {
    
    height: 100px;
    float: left;
    width: 100%;
}
main {
    width: 100%;
    float: left;
    background: rgb(238, 237, 237)
}
main>section {
    height: 100%;
    width:50%
}
.uno {
    height: 280.89px;

float: left;}

.uno>section {

    height: 68.63px;
}

.big {background-color: rgb(238, 237, 237);
height: 400px;
float: left;
padding-left: 26px;

}
.big span {
    font-weight: 700;
    font-size: large;
}


.one {width: 68%;
    height:100%;
   float: left;

}

.two,.three {
    height: 50%;
    width:25%; 
    float: left;
    margin-left: 30px;
    
}
.two>img,.three>img {
height: 158px;
}
.two {
margin-top: 16px;

}


.spa {
float: left;
height: 50px;
text-align: center;
font-size: larger;
padding-top: 10px;
font-weight:700;
color:grey;

}
.image {
    padding-left: 40px;
    width: 100%;
    float: left;
    height: 100%;
}


.photo {
    width:25%;
    height: 100%;
    margin-right: 40px;
    padding-top: 20px;
float: left;

}
.photo>img {
height:235px;
width: 202.25px;

}

.text {
width: 70%;
height:100%;
float:left;

}
.shrink {
    height:210px;

}

.foot {
height: 300px;
float: left;
}
.A-one{
    height: 400px;
    float: left;
  

}
.B-one,.B-two {
    height: 100%;
    width:50%;
    float: left;
}

.B-one>span,.B-two>span {
    font-size: larger;
    font-weight: 700;
    color: rgb(204, 204, 204);
}
.B-two span {
    font-size: xx-large;
}
.uno >section h2 {
text-align: center;
font-size: large;
color: lightgray;

}
.small {
    width:50%;
    float: left;

}

.uno>.notsmall {
    height: 92px;
    width: 100%;

text-align: center;
}

    .uno>.gray {
        height: 116px;
    }
    h1 {
        font-size: xx-large;
        text-align: center;
    }
main h2 {
    font-size: large;
}
.late {
margin-left: 30px;

}
main>section>input {
    margin-top: 20px;
}

main p {
    margin-bottom: 55px;
}
main img {
    padding-left: 50px;
    height: 297px;
}
li {
    display: inline;

}
.tp {
word-spacing: 55px;

}
footer>section+section,footer>section+section+section {
background: slategray;
float: left;
}


.gray {height:80px}


h4 {
    text-align: left;
    width: 50%;
    height: 100%;
    float: left;
}
footer input {text-align: start;
    width: 50%;
float: left;
height: 100%;
display: inline;
}


.ayo {
    padding-left: 50px;
    width:100%;
}

.margin {
    float: left;
    padding-right: right 20px;
}
.news {

    text-align: end;
    float: right;
    padding-right: 20px;
}
.Docanto {
width: 16.666%;
height: 100px;
float: left;
}
.Omar {
width: 16.666%;
height: 100px;
float: left;
}
.Julian {
width: 16.666%;
height: 100px;
float: left;
}

.tiago {
    width:50%;
    height:100px;
    float: left;
    word-spacing: 48px;
    padding-left: 50px;
}

.Alex {
height: 120px;


}
.foot {
    color:white
}
@media all and (max-width: 390px){
    .uno {
        display: none;
        }
    .late img {
        display: none;
    }
    .main img {
        padding-left: 100px;
    }
    .spa {
        display: none;
    }
}

@media all and (max-width:820px) and (min-width:390px) {
.uno,.two,.three,.photo,.text,.B-one,.B-two,.far {

    display: none;
}


}



@media all and (min-width:820px){
      
        
         main {
             margin-bottom: 35px;
         }
          
        .image {
        margin-top: 53px;
        }
        h1 {text-align: left;}
        
        .spa {
        padding-top: 0%;
        margin-top: 50px;
         }

    }
    
    

        